<div class="container">
  <h3>Client Info</h3>

  <input placeholder="Client Name" [(ngModel)]="client.name" />
  <input placeholder="Phone" [(ngModel)]="client.phone" />

  <input type="number" min="1" placeholder="PAX" [(ngModel)]="client.pax" />

  <input placeholder="Hotel" [(ngModel)]="client.hotel" />

  <input placeholder="Guide Name" [(ngModel)]="client.guideName" />

  <input type="tel" placeholder="Guide Phone" [(ngModel)]="client.guidePhone" />

  <button (click)="save()">Save</button>
</div>
