<c-header class="mb-4 d-print-none" position="sticky">
  <c-container fluid class="border-bottom px-4">

    <!-- ☰ Sidebar Toggle -->
    <button
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="btn btn-link"
      aria-label="Toggle sidebar"
    >
      <svg cIcon name="cil-menu" size="lg"></svg>
    </button>

    <c-header-nav class="ms-auto">
      <c-dropdown variant="nav-item">
        <button
          cDropdownToggle
          [caret]="false"
          class="py-0 pe-0"
        >
          <img
            src="./assets/images/avatars/8.jpg"
            style="width:40px;height:40px;border-radius:50%"
          />
        </button>

        <ul cDropdownMenu>
          <li>
            <h6 cDropdownHeader>
              User
            </h6>
          </li>

          <li>
            <a cDropdownItem routerLink="/dashboard">
              Dashboard
            </a>
          </li>

          <li>
            <a cDropdownItem (click)="onLogout()">
              Logout
            </a>
          </li>
        </ul>
      </c-dropdown>
    </c-header-nav>

  </c-container>
</c-header>
