<div *ngIf="ticket">

  <h3>Ticket #{{ ticket.ticketNumber }}</h3>

  <hr />

  <div><strong>CLIENT</strong>: {{ ticket.client.name }}</div>
  <div><strong>PHONE</strong>: {{ ticket.client.phone }}</div>
  <div><strong>HOTEL</strong>: {{ ticket.client.hotel }}</div>
  <div><strong>PAX</strong>: {{ ticket.client.pax }}</div>

  <hr />

  <div><strong>ACTIVITY</strong>: {{ ticket.activity.name }}</div>
  <div>
    <strong>PRICE</strong>:
    {{ ticket.salePrice.amount }} {{ ticket.salePrice.currency }}
  </div>

  <div>
    <strong>PAYMENT</strong>:
    {{ ticket.paymentStatus === 'PAID' ? 'Paid' : 'Rest' }}
  </div>

  <div *ngIf="ticket.paymentStatus === 'REST'">
    <strong>REST AMOUNT</strong>:
    {{ ticket.rest?.amount }} {{ ticket.rest?.currency }}
  </div>

  <hr />

  <div><strong>GUIDE</strong>: {{ ticket.guide.guideName }}</div>
  <div><strong>GUIDE PHONE</strong>: {{ ticket.guide.guidePhone }}</div>

  <hr />

  <div><strong>PICKUP POINT</strong>: {{ ticket.pickupPoint }}</div>
  <div><strong>PICKUP TIME</strong>: {{ ticket.pickupTime }}</div>

  <div><strong>ACTIVITY DATE</strong>: {{ ticket.activityDate }}</div>

</div>
