<div *ngIf="ticket as t">

  <h3>Ticket #{{ t.ticketNumber }}</h3>

  <div><strong>CLIENT</strong>: {{ t.client?.name }}</div>
  <div><strong>PHONE</strong>: {{ t.client?.phone }}</div>
  <div><strong>HOTEL</strong>: {{ t.client?.hotel }}</div>
  <div><strong>PAX</strong>: {{ t.client?.pax }}</div>

  <div><strong>ACTIVITY</strong>: {{ t.activity?.name }}</div>

  <div>
    <strong>PRICE</strong>:
    {{ t.salePrice?.amount }} {{ t.salePrice?.currency }}
  </div>

  <div>
    <strong>STATUS</strong>:
    {{ t.paymentStatus === 'PAID' ? 'Paid' : 'Rest' }}
  </div>

  <div *ngIf="t.paymentStatus === 'REST'">
    <strong>REST</strong>:
    {{ t.rest?.amount }} {{ t.rest?.currency }}
  </div>

  <div>
    <strong>GUIDE</strong>:
    {{ t.guide?.guideName }}
  </div>

</div>
