<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Client</th>
        <th>Activity</th>
        <th>Price</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let ticket of filteredTickets">
        <td>{{ ticket.ticketId || '-' }}</td>
        <td>{{ ticket.client?.name || '-' }}</td>
        <td>{{ ticket.activity?.name || '-' }}</td>
        <td>{{ ticket.salePrice?.amount || 0 }} {{ ticket.salePrice?.currency || '' }}</td>
        <td>{{ ticket.paymentStatus || '-' }}</td>
      </tr>
    </tbody>
  </table>
</div>
