<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>
      <strong>Tickets</strong> <strong> List</strong>

      <c-col md="3">
        <input 
        cFormControl 
        [formControl]="searchControl" 
        placeholder="Search by name"
        id="ticketSearch"
        name="ticketSearch"
        />
      </c-col>
    </c-card-header>
    <c-card-body>
      <table [striped]="true" cTable>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Client</th>
            <th scope="col">Activity</th>
            <th scope="col">SalePrice</th>
            <th scope="col">Currency</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          @for(ticket of filteredTickets;track ticket.ticketId){
          <tr>
            <th scope="row">{{ ticket.ticketId }}</th>
            <td>{{ ticket.client.name }}</td>
            <td>{{ ticket.activity.activityName }}</td>
            <td>{{ ticket.salePrice }}</td>
            <td>{{ ticket.currency }}</td>

            <td class="text-nowrap">
              <button class="btn btn-link text-danger p-0" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Delete" (click)="confirmDelete(ticket)">
                <mat-icon>delete</mat-icon>
              </button>

              <button class="btn btn-link text-info p-0 ms-2" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Edit" [routerLink]="['/ticket/edit', ticket.ticketId]">
                <mat-icon>edit</mat-icon>
              </button>
              <button class="btn btn-link text-success p-0 ms-2" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Download PDF" (click)="downloadPDF(ticket)">
                <mat-icon>download</mat-icon>
              </button>

            </td>
          </tr>
          }
        </tbody>
      </table>
    </c-card-body>
  </c-card>
</c-col>

<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>
      <strong>Tickets</strong> <strong> Commisions</strong>
      <c-col md="3">
        <input 
        cFormControl 
        [formControl]="searchControl" 
        placeholder="Search by name"
        id="ticketSearchtwo"
        name="ticketSearchtwo"
        />
      </c-col>
    </c-card-header>
    <c-card-body>
      <table [striped]="true" cTable>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Client</th>
            <th scope="col">Activity</th>
            <th scope="col">Adults </th>
            <th scope="col">Child</th>
            <th scope="col">Babies</th>
            <th scope="col">Rate</th>
            <th scope="col">commission</th>


          </tr>
        </thead>
        <tbody>
          @for(ticket of filteredTickets;track ticket.ticketId){
          <tr>
            <th scope="row">{{ ticket.ticketId }}</th>
            <td>{{ ticket.client.name }}</td>
            <td>{{ ticket.activity.activityName }}</td>
            <td>{{ ticket.costPriceAdult ? ticket.costPriceAdult : 0 }}</td>
            <td>{{ ticket.costPriceChild ? ticket.costPriceChild : 0 }}</td>
            <td>{{ ticket.costPriceBaby ? ticket.costPriceBaby : 0 }}</td>
            <td>{{ ticket.commissionRate ? ticket.commissionRate : 0 }}</td>
            <td>{{ ticket.commissionAmount ? ticket.commissionAmount : 0 }}</td>

          </tr>
          }
        </tbody>
      </table>
    </c-card-body>
  </c-card>
</c-col>