<c-row class="g-4">
<c-col sm="6" xl="4" lg="3">
  <c-widget-stat-a color="primary" [title]="'Clients by Admin'">
    <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
      {{ clientData.length }}
      <span class="fw-normal" style="font-size: 12px;">
        <!-- Optionally add growth icon -->
      </span>
    </ng-template>

    <ng-template cTemplateId="widgetChartTemplate">
      <c-chart [data]="data[0]" [options]="options[0]" class="mt-3 mx-3" height="70" type="line"></c-chart>
    </ng-template>
  </c-widget-stat-a>
</c-col>


  <c-col sm="6" xl="4" lg="3">
    <c-widget-stat-a
      [title]="'Income / EUR'"
      color="info"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>$6.200</span>
        <span class="fw-normal" style="font-size: 12px;">
          (40.9%<svg cIcon name="cilArrowTop" size="sm"></svg>)
        </span>
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[1]"  class="mt-3 mx-3" height="70" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="4" lg="3">
    <c-widget-stat-a
      [title]="'Clients'"
      color="danger"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>2.49</span>
        <span class="fw-normal" style="font-size: 12px;">
          (84.7% <svg cIcon name="cilArrowTop" size="sm"></svg>)
        </span>
      </ng-template>
 
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="clientData[2]"  class="mt-3" height="70" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

</c-row>



<c-card class="my-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Traffic</h4>
        <div class="small text-body-secondary">January - December 2023</div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <button cButton class="float-end" color="primary" aria-label="Download">
          <svg cIcon name="cilCloudDownload"></svg>
        </button>
        <form [formGroup]="trafficRadioGroup">
          <c-button-group class="float-end me-3" role="group">
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Day"
              id="dayRadio"
            />
            <label
              (click)="setTrafficPeriod('Day')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
              for="dayRadio"
            >
              Day
            </label>
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Month"
              id="radioMonth"
            />
            <label
              (click)="setTrafficPeriod('Month')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
              for="radioMonth"
            >
              Month
            </label>
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Year"
              id="radioYear"
            />
            <label
              (click)="setTrafficPeriod('Year')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
              for="radioYear"
            >
              Year
            </label>
          </c-button-group>
        </form>
      </c-col>
    </c-row>
    <c-chart
      [data]="mainChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 40 }"
      [options]="mainChart.options"
      [type]="mainChart.type"
      (chartRef)="handleChartRef($event)"
    >
      Clients per Activity
    </c-chart>
  </c-card-body>
  <c-card-footer>
    <c-row class="text-center mb-2" [xl]="5" [lg]="4" [sm]="2" [xs]="1" [gutter]="4">
      <c-col>
        <div class="text-body-secondary">Visits</div>
        <strong>29.703 Users (40%)</strong>
        <c-progress class="mt-2" thin color="success" value="40" aria-label="User visits" />
      </c-col>
      <c-col>
        <div class="text-body-secondary">Unique</div>
        <div class="fw-semibold text-truncate">24.093 Users (20%)</div>
        <c-progress class="mt-2" thin color="info" value="20" aria-label="Unique users" />
      </c-col>
      <c-col>
        <div class="text-body-secondary">Page views</div>
        <div class="fw-semibold text-truncate">78.706 Views (60%)</div>
        <c-progress class="mt-2" thin color="warning" value="60" aria-label="Page views" />
      </c-col>
      <c-col>
        <div class="text-body-secondary">New Users</div>
        <div class="fw-semibold text-truncate">22.123 Users (80%)</div>
        <c-progress class="mt-2" thin color="danger" value="80" aria-label="New users" />
      </c-col>
      <c-col class="d-none d-xl-block">
        <div class="text-body-secondary">Bounce Rate</div>
        <div class="fw-semibold text-truncate">Average Rate (40.15%)</div>
        <c-progress class="mt-2" thin value="40" aria-label="Bounce rate" />
      </c-col>
    </c-row>
  </c-card-footer>
</c-card>

<c-card class="mb-4">

  <c-card-body>

    
   <div class="my-4 mb-5"></div>

      <c-row class="g-4">
        <c-col xl="4" lg="4" sm="6">
          <c-widget-stat-c
            [title]="'Clients'"
            color="info"
            inverse
            value="87,500"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="cilPeople"></svg>
            </ng-template>
            <ng-template cTemplateId="widgetProgressTemplate">
              <c-progress class="mt-3 mb-0" thin white [value]="75" />
            </ng-template>
          </c-widget-stat-c>
        </c-col>

        <c-col xl="4" lg="4" sm="6">
          <c-widget-stat-c
            [title]="'Tickets'"
            color="warning"
            inverse
            value="1238"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="cilBasket"></svg>
            </ng-template>
            <ng-template cTemplateId="widgetProgressTemplate">
              <c-progress class="mt-3 mb-0" thin white [value]="75" />
            </ng-template>
          </c-widget-stat-c>
        </c-col>
        <c-col xl="4" lg="4" sm="6">
          <c-widget-stat-c
            [title]="'Services'"
            color="primary"
            inverse
            value="28%"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="cilChartPie"></svg>
            </ng-template>
            <ng-template cTemplateId="widgetProgressTemplate">
              <c-progress class="mt-3 mb-0" thin white [value]="75" />
            </ng-template>
          </c-widget-stat-c>
        </c-col>
      </c-row>
   <div class="my-4 mb-5"></div>

  </c-card-body>
  <app-widgets-dropdown />
</c-card>
