name: Build Check

on:
  push:
    branches-ignore:
      - "dependabot/**"

  pull_request:
    branches:
      - main
      - v5.*

  schedule:
    # build runs every weekday at 4:15AM UTC
    - cron: '15 4 * * *'

env:
  FORCE_COLOR: 2
  NODE_VERSION: 22

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest, macOS-latest]

    runs-on: ${{ matrix.platform }}

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install npm dependencies
        run: npm ci

      - name: Run Angular build
        run: npm run build
